{% extends "base.html" %}
{% block title %}Minions Overview{% endblock %}
{% block content %}
      <div>
        <h2>Minions Overview</h2>
          There are {{minions|count}} minions.
          {% for minion in minions%}
          <div class="row">
            <div class="col-md-12">
              <div class="row">ID: {{minion.mid}}</div>
              <div class="row">
                <div class="col"><strong>User</strong></div>
                <div class="col"><strong>SLS / Function</strong></div>
                <div class="col"><strong>Started at</strong></div>
              </div>
              {% for return in minion.returns %}
              {% if return.is_state() %}
              {% include "render_state.html" %}
              {% else %}
              {% include "render_func.html" %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
      </div>
{% endblock %}
