{% extends "base.html" %}
{% block title %}Minions Overview{% endblock %}
{% block content %}
      <div>
        <h2>Minions Overview</h2>
        {% if minions|count > 1 %}
          {{minions|count}} minions.
        {% endif %}
          {% for minion in minions%}
          <div class="row border p-2 mb-1">
            <div class="col-md-12">
              <div class="row"><a id="minion-{{minion.mid}}">{{minion.mid}}</a></div>
              <div class="row">
                <div class="col-md-2"><strong>User</strong></div>
                <div class="col-md-2"><strong>SLS / Function</strong></div>
                <div class="col-md-2"><strong>Started at</strong></div>
              </div>
              {% for return in minion.returns %}
              {% if return.is_state() %}
              {% include "render_state.html" %}
              {% else %}
              {% include "render_func.html" %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
      </div>
{% endblock %}
