{## renders a state return ##}
              {% set full_ret = return.full_ret_obj() %}
              {% set fun = return.fun() %}
              {% set ret = return.ret() %}
              <div class="row border">
                <div class="col-md-12">
                  <div class="row{% if not return.is_state() or return.is_test() %} text-muted{% endif %}">
                    <div class="col">{{return.user()}}</div>
                    <div class="col">{{return.sls()|default([], true)|join(', ')}}{% if return.is_test() %} (Test){% endif %}</div>
                    <div class="col"><a data-toggle="collapse" href="#{{return.rid}}-collapse">{{return.date}}</a></div>
                  </div>
                  <div class="row collapse mb-1 pl-4" id="{{return.rid}}-collapse">
                    <a href="{{ url_for('run_details', run_id=return.rid) }}">Details</a>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-2"><strong>Function</strong></div>
                        <div class="col-md-2"><strong>Name</strong></div>
                        <div class="col-md-2"><strong>SLS</strong></div>
                        <div class="col-md-6"><strong>Result (Comment)</strong></div>
                      </div>
                    {% for state in return.states()|default([], true) %}
                      <div class="row">
                        <div class="col-md-2">{{state.function}}</div>
                        <div class="col-md-2">{{state.name}}</div>
                        <div class="col-md-2">{{state.sls}}</div>
                        <div class="col-md-6">{{state.result}} ({{ state.comment }})</div>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

